.logo {
  display: flex;
  align-items: center;

  cursor: pointer;

  &_text {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;
    margin-left: 10px;

    color: #222222;
  }
}
