.info {
  @media (max-width: 850px) {
    margin-top: 50px;
  }
  &_content {
    display: flex;
    flex-direction: column;
    height: 100%;

    & button {
      margin-top: auto;
      align-self: flex-end;
    }
  }
  &_heading {
    & h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 27px;

      color: #222222;
      padding: 0;
      margin: 10px 0;
    }
    & p {
      width: 450px;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 142.5%;

      color: #5b5b5b;
      padding: 0;
      margin: 0;
    }
  }
  &_facts {
    display: flex;
    flex-direction: column;
  }
  &_fact {
    display: flex;
    align-items: center;

    margin: 30px 0 0;
    & svg {
      min-width: 30px;
      margin-right: 20px;
    }
    & h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 142.5%;

      color: #222222;
      margin: 0;
      padding: 0;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 142.5%;

      color: #5b5b5b;
      margin: 0;
      padding: 0;
    }
  }
}
