.results {
  width: 1200px;
  height: 680px;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.dropdown {
  width: 260px;
  height: 50px;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 35px;

  transition: all 0.2s;

  & button {
    width: 100%;
    height: 100%;

    border-radius: 35px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &_active {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px;
    &__top {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__value {
      display: flex;
      align-items: center;

      font-family: "Epilogue";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 142.5%;
      /* or 23px */

      display: flex;
      align-items: center;
      text-align: center;

      color: #5b5b5b;
    }
    &__expand {
    }
    &__open {
      width: 400px;
      height: 150px;
    }
  }

  &_content {
    width: 0px;
    height: 0px;

    opacity: 0;
    // height: fit-content;
    // padding: 20px;

    // background: #ffffff;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    // border-radius: 35px;
    &__open {
      width: 95%;
      height: 0px;

      opacity: 1;
    }
  }
}
