.button {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 39px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  transition: all 0.2s;

  position: relative;
  z-index: 5;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  color: #222222;

  & svg {
    width: 30px !important;
    transition: all 0.2s;
  }

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    & svg {
      width: 33px !important;
    }
  }

  &_large {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
  }
  &_small {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
  }
}
