.country {
  max-width: 1190px;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: 55px;

  @media (max-width: 1300px) {
    padding: 0 30px;
  }
  @media (max-width: 650px) {
    padding: 10px;
  }
}
