.search {
  display: flex;
  align-items: center;
  flex-direction: column;

  &_shadow {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    z-index: -1;
  }
  &_content {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 35px;

      color: #ffffff;
      margin: 30px 0 0;
      padding: 0;
      @media (max-width: 673px) {
        font-size: 28px;
      }
    }
    & h5 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 142.5%;

      color: #d0d0d0;
      margin: 10px 0 0;
      padding: 0;
      @media (max-width: 673px) {
        font-size: 14px;
      }
    }
  }
  &_bar {
    display: flex;
    align-items: center;

    width: 750px;
    height: 80px;
    padding: 0 10px 0 30px;

    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.19);
    border-radius: 30px;

    margin-top: -40px;

    @media (max-width: 800px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      height: 65px;
    }
    & svg {
      & path {
        width: 15px;
        height: 15px;
      }
      margin-right: 10px;

      min-width: 25px;
      max-width: 25px;
      // min-height: 18px;
      // max-height: 25px;
    }
  }
  &_input {
    height: 100%;
    width: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142.5%;

    color: #5b5b5b;
    background: none;
    border: none;
    margin-top: 5px;

    font-family: "Epilogue";
    cursor: pointer;
    // padding: 30px 0;
    outline: none;
  }
}
